
.chat-window {
  flex-grow: 1;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f4f4f4;
}

.messages-container {
  height: 70vh;
  overflow-y: auto;
}

.message {
  margin-bottom: 10px;
  display: flex;
  flex-direction: initial;
  justify-content: space-between;
}
.message-content{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

}

.message-date{
  font-size: smaller;
  font-weight: 100;
}
.input-container {
  margin-top: 20px;
}

.input-container input {
  padding: 10px;
  width: calc(100% - 70px);
}

.input-container button {
  background-color: #5bc0de;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 60px;
}

.input-container button:hover {
  background-color: #46b
}

.input-button{
  width: 80vw;
  display: flex;
}